.land-container {
background-color: rgb(200,200,200);
width: 90%;
height: auto;
margin-left: 5%;
margin-bottom: 5%;
border-radius: 10px;
/*max-width: 350px;*/
float: left;
}
.land-container h3 {
background-color: rgba(0,0,0,0.35);
color: #fff;
}
.land-container h3 a {
text-decoration: none;
color: #fff;
}
.land-container .title {
background-color: rgba(0,0,0,0);
text-align: center;
}
.land-header {
color: rgb(225,225,225);
}
.land-footer {
/*
position: absolute;
top: 90%;
left: 0%;
height: 10%;
*/
visibility: hidden;
width: 100%;
color: rgb(225,225,225);
}
@media screen and (max-width: 720px){

}
